<footer class="footer">
    <div class="footer-holder">
        <div class="container">
            <div class="text">
                <p>Loans subject to Lender Approval Depending on the state where your business is located and other attributes of the loan, your business loan may be issued by Lead Bank, a Missouri-Chartered Bank. Member FDIC. Your loan agreement will identify the loan issuer prior to your signing. Requires credit approval The lender transfers funds to your bank account as fast as the next business day if the lender has received the documents the lender asked for and approved the loan by 3:30 p.m. Central Time. Monday through Friday (excluding bank holidays).</p>
            </div>
        </div>
    </div>
    <div class="footer-holder">
        <div class="container">
            <div class="block-contact">
                <div class="logo">
                    <a href="#">
                        <img src="../assets/loanbuilder/images/logo.png" alt="">
                    </a>
                </div>
                <address>
                    <span>2310 W. 75th Street</span>
                    <span>Prairie Village, KS 66208</span>
                    <span><a href="tel:1-262-320-7143">1-262-320-7143</a></span>
                    <span><a href="mailto:loan@hydrafunding.biz">loan@hydrafunding.biz</a></span>
                </address>
            </div>
        </div>
    </div>
</footer>