<div class="sidebar">
    <div class="holder">
        <header class="header">
            <div class="logo-sidebar">
                <a href="/">
                    <img src="../assets/loanbuilder/images/logo.png" alt="">
                </a>
            </div>
        </header>
        <div class="frame">
            <div class="intro-ttl">
                <h2>Simply a Smarter Small Business Loan</h2>
            </div>
            <ul class="list-advice">
                <li>
                    <div class="ico">
                        <img src="../assets/loanbuilder/images/ico_fast.svg" width="55" height="56" alt="">
                    </div>
                    <div class="description">
                        <h4>Fast</h4>
                        <p>Apply in minutes<br> Funding as soon as 24 hours</p>
                    </div>
                </li>
                <li>
                    <div class="ico">
                        <img src="../assets/loanbuilder/images/ico_flexible.svg" width="40" height="40" alt="">
                    </div>
                    <div class="description">
                        <h4>Flexible</h4>
                        <p>From $5,000 to $500,000<br> Terms up to 12 months</p>
                    </div>
                </li>
                <li>
                    <div class="ico">
                    <img src="../assets/loanbuilder/images/ico_simple.svg" width="55" height="55" alt=""> 
                    </div>
                    <div class="description">
                        <h4>Simple</h4>
                        <p>Competitive fixed rates<br> No collateral no surprises</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>