<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>Hydra | FUNDING</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="/assets/loanbuilder/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/loanbuilder/css/main.css">
    <link rel="icon" type="image/png" href="/assets/loanbuilder/favicon.png" />

    <script src="/assets/loanbuilder/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/loanbuilder/js/bootstrap.min.js"></script>
    <script src="/assets/loanbuilder/js/bootstrap-custom.js"></script>
    <script src="/assets/loanbuilder/js/jquery.main.js"></script>
    <script src="/assets/loanbuilder/js/Hydra.js"></script>


</head>
<body>
		
    <div id="wrapper">
        <header class="header-inner">
            <div class="container container-normal">
                <div class="logo">
                    <a href="#">
                        <img src="/assets/loanbuilder/img/logo-inner.svg" alt="">
                    </a>
                </div>
                <div class="slogan">
                                            <p><strong>Just a Few Clicks from Your Pre-Approved Loan Offer</strong> — No Credit Check, No Personal Information, No Obligation.</p>
                                    </div>
            </div>
        </header>



         


<div id="main">
            <!-- step-4-->
            <section class="section-step">
                <div class="container-fluid">
                    <div class="question-block">
                        <h2>How long ago did you first establish <strong>business credit</strong>?</h2>
                        <div class="question-box">
                            <div class="form-group">
                                <form class="form-validate-me" action="/loanbuilder/step4" method="post" id="form_step">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="btn-checked" data-toggle="buttons">
                                            <label class="btn btn-primary btn-lg choice">
                                                <input type="radio" name="options" value="1">
                                                Less than 12 months
                                            </label>
                                            <label class="btn btn-primary btn-lg choice">
                                                <input type="radio" name="options" value="2" >
                                                1-5 years
                                            </label>
                                            <label class="btn btn-primary btn-lg choice">
                                                <input type="radio" name="options" value="3" >
                                                6-10 years
                                            </label>
                                            <label class="btn btn-primary btn-lg choice">
                                                <input type="radio" name="options" value="4" >
                                                11-15 years
                                            </label>
                                            <label class="btn btn-primary btn-lg choice">
                                                <input type="radio" name="options" value="5" >
                                                16-20 years
                                            </label>
                                            <label class="btn btn-primary btn-lg choice">
                                                <input type="radio" name="options" value="6" >
                                                20 years or more
                                            </label>
                                            <label class="btn btn-primary btn-lg choice">
                                                <input type="radio" name="options" value="0" >
                                                I’ve never had business credit
                                            </label>
                                            <label class="btn btn-primary btn-lg choice">
                                                <input type="radio" name="options" value="0" >
                                                I don't know
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                            <div class="box-footer text-right">
                                <p>Loans offered from $5k to $500k</p>
                            </div>
                        </div>
                        <span class="step_question">Question 4/9</span>
                    </div>
                </div>
            </section>
        </div>
    </div>


        
    <footer class="footer">
        <div class="footer-holder">
            <div class="container">
                <div class="text">
                    <p>Loans subject to Lender Approval Depending on the state where your business is located and other attributes of the loan, your business loan may be issued by Lead Bank, a Missouri-Chartered Bank. Member FDIC. Your loan agreement will identify the loan issuer prior to your signing. Requires credit approval The lender transfers funds to your bank account as fast as the next business day if the lender has received the documents the lender asked for and approved the loan by 3:30 p.m. Central Time. Monday through Friday (excluding bank holidays).</p>
                </div>
            </div>
        </div>
        <div class="footer-holder">
            <div class="container">
                <div class="block-contact">
                    <div class="logo">
                        <a href="#">
                            <img src="/assets/loanbuilder/img/logo.svg" alt="">
                        </a>
                    </div>
                    <address>
                        <span>2310 W. 75th Street</span>
                        <span>Prairie Village, KS 66208</span>
                        <span><a href="tel:1-800-688-2418">1-800-688-2418</a></span>
                        <span><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;</a></span>
                    </address>
                </div>
            </div>
        </div>


    </footer>

    

</body>
</html>
