<%- include partials/header.ejs %>
                <nav class="nav-menu">
                    <ul>
                        <li><a class="anchor" href="#section1">How It Works</a></li>
                        <!-- <li><a class="anchor" href="#section2">Pre-Approval</a></li> -->
                        <li><a class="anchor" href="#section3">FAQ</a></li>
                        <li><a href="/app/general_information">Apply</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="header-pull promo">
            <div class="bg-stretch">
                <span data-srcset="/assets/loanbuilder/images/promo-img.jpg"></span>
            </div>
            <div class="promo-holder">
                <div class="container container-normal">
                    <div class="intro-ttl big">
                        <h2>Simply a Smarter<br> Small Business Loan</h2>
                        <p>Approval in Minutes. Funding the Next Day.</p>
                    </div>
                    <div class="btn-list">
                        <div class="hold">
                            <a class="btn btn-primary btn-sm btn-border" href="/app/general_information">APPLY NOW</a>
                        </div>
                        <div class="hold">
                            <!-- <a class="btn btn-primary btn-sm  btn-white btn-border btn-min anchor-link" href="/loanbuilder/step1">INSTANT PRE-APPROVAL</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <section class="section section-advice">
                <div class="container container-normal">
                    <div class="heading">
                        <p>With Hydra, the entire loan process is conducted online — quickly, simply, and securely.</p>
                    </div>
                    <div class="advice-block">
                        <div class="row">
                            <div class="col-md-4 col-xs-6 col-advice">
                                <div class="advice-box">
                                    <h2>Flexible</h2>
                                    <p>From $5,000 to $500,000, with terms up to 12 months</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6 col-advice">
                                <div class="advice-box">
                                    <h2>Fast</h2>
                                    <p>Funding in as soon<br> as 24 hours</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6 col-advice">
                                <div class="advice-box">
                                    <h2>Simple</h2>
                                    <p>Competitive fixed rates,<br> no collateral, no surprises</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section1" class="section section-orange section-work">
                <div class="container container-normal">
                    <div class="heading heading-white">
                        <h2>How It Works</h2>
                        <p>If you’ve been in business at least one year and have at least $100,000 in annual revenue, you are eligible.</p>
                    </div>
                    <div class="work-block">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="work-box">
                                    <div class="image">
                                        <img src="/assets/loanbuilder/images/ico_circle_pc.svg" width="150" height="150" alt="">
                                    </div>
                                    <h4>Apply Online</h4>
                                    <p>Hydra’s simple and secure online loan application can be completed in a matter of minutes.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="work-box">
                                    <div class="image">
                                        <img src="/assets/loanbuilder/images/ico_circle_get.svg" width="150" height="150" alt="">
                                    </div>
                                    <h4>Get Instant Approval</h4>
                                    <p>Our automated loan approval engine processes your application on the spot and provides the best loan offer in just seconds.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="work-box">
                                    <div class="image">
                                        <img src="/assets/loanbuilder/images/ico_circle_business.svg" width="150" height="150" alt="">
                                    </div>
                                    <h4>Get Back to Business</h4>
                                    <p>With just a few clicks, securely link your business bank accounts, approve your offer, and get funding in as soon as one business day.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-center">
                        <a class="btn btn-primary btn-blue btn-border btn-min" href="/app/general_information">GET STARTED</a>
                    </div>
                </div>
            </section>
            <section id="section2" class="section section-info">
                <div class="container container-normal">
                    <h2>Instant Pre-Approval for Your Small Business Loan</h2>
                    <div class="info">
                        <div class="description">
                            <p>With our online Loan Approval Assistant, you can get pre-approved for your small business loan in just seconds and receive funding in as soon as 24 hours.</p>
                            <ul>
                                <li><strong>No Credit Check</strong></li>
                                <li><strong>No Personal Information</strong></li>
                                <li><strong>No Obligation</strong></li>
                            </ul>
                            <div class="hold">
                                <!-- <a class="btn btn-primary btn-border btn-min" href="/loanbuilder/step1">GET YOUR OFFER</a> -->
                            </div>
                        </div>
                        <div class="image">
                            <img src="/assets/loanbuilder/images/devices3.png" width="553" height="319" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section id="section3" class="section section-faq">
                 <div class="container container-normal">
                    <div class="heading">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <ul class="accordion-list" id="accordion">
                        <li class="panel">
                            <div class="head">
                                <h5>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        What do I need to qualify?
                                        <span class="arrow"></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse1" class="accordion-content collapse">
                                <div class="panel-body">
                                    <p>If you’ve been in business at least one year, have at least $100,000 in annual revenue, and have a personal credit score of at least 600, you are eligible. <a href="/loanbuilder/step1">See if you qualify.</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="panel">
                            <div class="head">
                                <h5>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        What are your payment terms?
                                        <span class="arrow"></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse2" class="accordion-content collapse">
                                <div class="panel-body">
                                    <p>We use a number of different data points to instantly provide you with the best possible loan offer, including competitive rates and payment terms that work for you and your business.

<a href="app">Apply now</a> or use our automated <a href="/loanbuilder/step1">Online Loan Assistant</a> to receive an instant pre-approval offer — no credit check, no personal information required, no obligation.
</p>    
                                </div>
                            </div>
                        </li>
                        <li class="panel">
                            <div class="head">
                                <h5>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        What are your rates?
                                        <span class="arrow"></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse3" class="accordion-content collapse">
                                <div class="panel-body">
                                    <p>Hydra offers small business loans from $5,000 to $500,000. We use a number of different data points to instantly provide you with the best possible loan offer, including competitive rates.
<a href="/app">Apply now</a> or use our automated <a href="/loanbuilder/step1">Online Loan Assistant</a> to receive an instant pre-approval offer — no credit check, no personal information required, no obligation.</p>
                                </div>
                            </div>
                        </li>
                        <li class="panel">
                            <div class="head">
                                <h5>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        How much funding can I get?
                                        <span class="arrow"></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse4" class="accordion-content collapse">
                                <div class="panel-body">
                                    <p>Hydra offers small business loans from $5,000 to $500,000. <a href="/app">Apply now</a> or use our automated <a href="/loanbuilder/step1">Online Loan Assistant</a> to receive an instant pre-approval offer — no credit check, no personal information required, no obligation.</p>    
                                </div>
                            </div>
                        </li>
                        <li class="panel">
                            <div class="head">
                                <h5>
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                        How quickly can I access my funds?
                                        <span class="arrow"></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse6" class="accordion-content collapse">
                                <div class="panel-body">
                                    <p>Once your loan is approved, you can receive funding as soon as the next business day. </p>    
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </section>
            <section class="section section-orange section-bottom">
                <div class="container container-normal">
                    <div class="approval">
                        <div class="image">
                            <img src="/assets/loanbuilder/images/ico_circle_time.svg" width="150" height="150" alt="">
                        </div>
                        <div class="description">
                            <h2>Approval in Minutes.<br> Funding the Next Day.</h2>
                            <div class="hold">
                                <a class="btn btn-primary btn-blue btn-border btn-min" href="/app/general_information">APPLY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-holder">
            <div class="container">
                <div class="text">
                    <p>Loans subject to Lender Approval Depending on the state where your business is located and other attributes of the loan, your business loan may be issued by Lead Bank, a Missouri-Chartered Bank. Member FDIC. Your loan agreement will identify the loan issuer prior to your signing. Requires credit approval The lender transfers funds to your bank account as fast as the next business day if the lender has received the documents the lender asked for and approved the loan by 3:30 p.m. Central Time. Monday through Friday (excluding bank holidays).</p>
                </div>
            </div>
        </div>
        <div class="footer-holder">
            <div class="container">
                <div class="block-contact">
                    <div class="logo">
                        <a href="#">
                            <img src="/assets/loanbuilder/images/logo.png" alt="">
                        </a>
                    </div>
                    <address>
                        <span>2310 W. 75th Street</span>
                        <span>Prairie Village, KS 66208</span>
                        <span><a href="tel:1-567-233-9839">1-567-233-9839</a></span>
                        <span><a href="mailto:loan@hydrafunding.biz">loan@hydrafunding.biz</a></span>
                    </address>
                </div>
                <ul class="footer-nav">
                    <li><a href="/app/general_information">Apply</a></li>
                    <li><a href="#section3">FAQ</a></li>
                    <li><a href="/page/contact">Contact</a></li>
                    <li><a href="/page/terms">Terms &amp; Conditions</a></li>
                    <li><a href="/page/privacy">Privacy Policy</a></li>
                </ul>
                <span class="copyright">&copy; Copyright Hydra Funding, all rights reserved.</span>
            </div>
        </div>
    </footer>

    <script src="/assets/loanbuilder/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/loanbuilder/js/bootstrap.min.js"></script>
    <script src="/assets/loanbuilder/js/bootstrap-custom.js"></script>
    <script src="/assets/loanbuilder/js/jquery.main.js"></script>


    

</body>
</html>
