<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>Hydra | FUNDING</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="../assets/loanbuilder/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/loanbuilder/css/main.css">
    <link rel="icon" type="image/png" href="../assets/loanbuilder/favicon.png" />
</head>
<body>
		    
    <div id="wrapper">
        <header id="header" class="header-mobile">
            <div class="container container-normal">
                <div class="logo">
                    <a href="#">
                        <img src="../assets/loanbuilder/images/logo.svg" alt="">
                    </a>
                </div>
            </div>
        </header>
        <div class="main">
            <div class="main-holder">
                <div class="container-fluid">
                    <!-- <ul class="nav nav-tabs tabs-style">
                        <li class=""><span>General Information</span></li>
                        <li class=""><span>Business Information</span></li>
                        <li class=""><span>Personal Information</span></li>
                        <li class="active"><span>Review</span></li>
                    </ul> -->
                    <div class="content-holder">

                          <!-- success-page -->
<div class="step-tab step-4">
    <h2 class="ttl ttl-add">Congratulations!</h2>
    <div class="entry">
        <h4>You have completed your loan offer.</h4>
        <p>We are reviewing your loan offer, this may take up to 48 hours to finalize and disburse your loan. In the meantime, watch your inbox as we will get back to you on our final decision.</p>
        <div class="v-space"></div>
        <div class="v-space"></div>
        <div class="v-space"></div>
        <div class="v-space"></div>
        <div class="v-space"></div>        
        <div class="v-space"></div>
        <div class="v-space"></div>  
        <div class="v-space"></div>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>
        <p><strong>Questions?</strong><br> If you have any questions about this process, or issues with logging in, please contact us at 1-800-688-2418 or info@Hydrafunding.com.</p>
        <div class="v-space"></div>
        <div class="v-space"></div>
        <div class="v-space"></div>
        <div class="v-space"></div>
        <div class="v-space"></div>
        <div class="v-space"></div>
        <div class="v-space"></div>
        <div class="v-space"></div>  
        <div class="v-space"></div>
    </div>
</div>
<!-- end step-success-page-->

                    </div>
                </div>
            </div>
        </div>
        <%- include ../partials/frame %>
    </div>
    <%- include ../partials/footer %>

    <div class="modal modal-question fade" id="modal-question" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">X</span>
                    </button>
                    <div class="question-content">
                        <span class="ico-question center big">
                            <span>?</span>
                        </span>
                        <h4>How to Find Your Bank Routing Number</h4>
                        <p>You can find your bank routing number on your
                        checks and deposit slips, usually on the bottom
                        left (e.g. ⑆ 123456789 ⑆). You can also find on your
                        bank’s website, or by contacting your bank directly.</p>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal modal-question fade" id="modal-question-social" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">X</span>
                    </button>
                    <div class="question-content">
                        <span class="ico-question center big">
                            <span>?</span>
                        </span>
                        <h4>Why we need your SSN:</h4>
                        <p>We need your social security number to verify your identity and run your credit check. We care about your privacy and use high-level security to protect your information.</p>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="../assets/loanbuilder/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/loanbuilder/js/bootstrap.min.js"></script>
    <script src="../assets/loanbuilder/js/bootstrap-custom.js"></script>
    <script src="../assets/loanbuilder/js/jquery.main.js"></script>

    

</body>
</html>
