<% include ../partials/header %>
                <nav class="nav-menu">
                    <!--
                    <ul>
                        <li><a href="#section1">How It Works</a></li>
                        <li><a href="#section2">Pre-Approval</a></li>
                        <li><a href="#section3">FAQ</a></li>
                        <li><a href="#section4">Apply</a></li>
                    </ul>
                    -->
                </nav>
            </div>
        </header>
        <div class="header-pull promo-header">
            <div class="bg-stretch">
                <span data-srcset="/assets/loanbuilder/images/promo-img02.jpg, /assets/loanbuilder/images/promo-img02@2x.jpg 2x"></span>
            </div>
            <div class="promo-holder">
                <div class="container container-normal">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>



                <div id="main">
            <div class="content">
                <div class="container container-normal">
                    <div class="entry">
                        <h3>If you have questions or need help completing the application process, contact our friendly customer service team for assistance.</h3>
                        <p>1-800-688-2418, 8am-5pm (CST), Monday-Friday </p>
                        <p>Please call us at 1-800-688-2418, 8am-5pm (CST), Monday-Friday, to move forward. </p>
                        <p><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;</a></p>
                        <br>
                     </div>
                </div>
            </div>
        </div>


    </div>
    <footer class="footer">
        <div class="footer-holder">
            <div class="container">
                <div class="text">
                    <p>Loans subject to Lender Approval Depending on the state where your business is located and other attributes of the loan, your business loan may be issued by Lead Bank, a Missouri-Chartered Bank. Member FDIC. Your loan agreement will identify the loan issuer prior to your signing. Requires credit approval The lender transfers funds to your bank account as fast as the next business day if the lender has received the documents the lender asked for and approved the loan by 3:30 p.m. Central Time. Monday through Friday (excluding bank holidays).</p>
                </div>
            </div>
        </div>
        <div class="footer-holder">
            <div class="container">
                <div class="block-contact">
                    <div class="logo">
                        <a href="#">
                            <img src="../assets/loanbuilder/images/logo.svg" alt="">
                        </a>
                    </div>
                    <address>
                        <span>2310 W. 75th Street</span>
                        <span>Prairie Village, KS 66208</span>
                        <span><a href="tel:1-800-688-2418">1-800-688-2418</a></span>
                        <span><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;</a></span>
                    </address>
                </div>
                <ul class="footer-nav">
                    <li><a href="../app.html">Apply</a></li>
                    <!-- <li><a href="#">FAQ</a></li> -->
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="terms.html">Terms &amp; Conditions</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                </ul>
                <span class="copyright">&copy; Copyright Hydra Funding, all rights reserved.</span>
            </div>
        </div>
    </footer>

    <script src="../assets/loanbuilder/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/loanbuilder/js/bootstrap.min.js"></script>
    <script src="../assets/loanbuilder/js/bootstrap-custom.js"></script>
    <script src="../assets/loanbuilder/js/jquery.main.js"></script>


   

</body>
</html>
