<%- include partials/header.ejs %>
                <nav class="nav-menu">
                    <!--
                    <ul>
                        <li><a href="#section1">How It Works</a></li>
                        <li><a href="#section2">Pre-Approval</a></li>
                        <li><a href="#section3">FAQ</a></li>
                        <li><a href="#section4">Apply</a></li>
                    </ul>
                    -->
                </nav>
            </div>
        </header>
        <div class="header-pull promo-header">
            <div class="bg-stretch">
                <span data-srcset="/assets/loanbuilder/images/promo-img02.jpg, /assets/loanbuilder/images/promo-img02@2x.jpg 2x"></span>
            </div>
            <div class="promo-holder">
                <div class="container container-normal">
                    <h1>E-Sign Consent Agreement.</h1>
                </div>
            </div>
        </div>



                <div id="main">
            <div class="content">
                <div class="container container-normal">
                    <div class="entry">
                        <p>By clicking the check box next to the E-Sign Consent Agreement, you are accepting all of the following terms and conditions relating to Hydra Funding’ electronic notification/communications policy and Hydra Funding’s electronic consent and contract binding policy. Please read the information below carefully and thoroughly.</p>
                        <h3>YOU AGREE TO ELECTRONIC CONTRACT BINDING.</h3>
                        <p>You consent that your electronic signature on agreements and documents has the same legal and moral effect as if you signed such agreements and documents in ink and will be deemed valid, authentic, enforceable and binding. You understand and acknowledge that the federal Electronic Signatures in Global and National Commerce Act defines an “electronic signature” as an electronic sound, symbol or process, attached to or logically associated with a contract or other record and executed or adopted by a person with the intent to be bound by such contract or record. Based on this definition, you further consent that your electronic actions or your participation in certain electronic processes that are logically associated with a contract or any fully disclosed terms and conditions shall also have the same legal effect as if you signed such contract or agreed to such terms and conditions by providing your written signature in ink and you agree that such actions/participation will be deemed a valid and binding contract to the extent such actions/participation indicates your intent to be legally bound.</p>
                        <h3>YOU AGREE TO ELECTRONIC COMMUNICATIONS.</h3>
                        <p>You hereby agree that Hydra Funding may provide any communication or notification to you electronically and you hereby consent to receive by electronic means any and all agreements, documents, disclosures and/or notices required to be given by applicable law, regulation or internal Hydra Funding policy. You also consent to allow Hydra Funding to respond to any inquiries or communications by e-mail, fax or other electronic means regardless of the format of the original inquiry. You agree that electronic copies of communications are valid and you will not contest the validity or enforceability of such communications or any related transactions, absent proof of altered data or tampering. Pursuant to law and regulations, you agree and acknowledge that all electronic communications delivered to you by Hydra Funding (i) shall be given the same legal effect as signed paper communications, (ii) shall be considered a “writing” or “in writing” and (iii) shall be deemed for all purposes to have been “signed” and to constitute an “original” when printed from electronic files or records established and maintained in the normal course of business. You agree that all electronic communications and actions recorded by Hydra Funding shall be deemed valid and admissible originals.</p>
                        <h3>YOU UNDERSTAND THE TECHNICAL REQUIREMENTS.</h3>
                        <p>To electronically receive, view, and save electronic communications and electronically signed agreements, you must have a personal computer equipped with the requirements set forth below, and either a printer, a hard drive, or other storage device. You must also have a valid email address. You must notify us if your email address changes and you hereby agree to notify us of any such change immediately. To notify us of your new email address, please log on to Hydra Fundingfunding.com and the applicable subdomains and update your email address in the “My Profile” section of the website. Please note that the minimum requirements set forth below are subject to change. Required hardware and software Operating Systems: Windows® 2000, Windows® XP, Windows Vista®; Mac OS® X Browsers: Final release versions of Internet Explorer® 6.0 or above (Windows only); Mozilla Firefox 2.0 or above (Windows and Mac); Safari™ 3.0 or above (Mac only) PDF Reader: Acrobat® or similar software may be required to view and print PDF files Screen Resolution: 800 x 600 minimum Enabled Security Settings: Allow per session cookies</p>
                        <h3>YOU UNDERSTAND THE DISCLOSURES ABOUT CHANGING YOUR CONSENT.</h3>
                        <p>If you elect to receive required notices and disclosures only in paper format, it may slow the speed at which we can complete certain steps in transactions with you and delivering services to you. Nonetheless, you may change your consent at any time. Your consent to electronic communications and E-signing may also be withdrawn at any time by providing us with written notice that has been notarized and sent to the address below. Notwithstanding your change of consent, any electronic communications provided or agreements entered into with your electronic signature prior to your consent being withdrawn shall remain effective and binding.</p>
                        <p>Hydra Funding<br>
                            ATTN: Marketing, Opt-Out<br>
                            2310 W. 75th Street<br>
                            Prairie Village, KS 66208<br>
                        </p>
                        <p>Your correspondence must contain in the body of such request your e-mail address, full name, US Postal address, and telephone number. After your withdrawal of consent has been received and processed by Hydra Funding, all subsequent notifications and communications will be sent by regular mail to the last known address on file with Hydra Funding. You have the option to receive any information that we have provided electronically in paper form at no cost to you by providing a written request to the address above. Additionally, you will have the ability to download and print certain documents through the Hydra Funding Online system.</p>
                        <h3>YOU ACKNOWLEDGE AND CONFIRM YOUR CONSENT.</h3>
                        <p>If you consent to receiving notices and disclosures in electronic format on the terms and conditions described above, please let us know by clicking the check box next to “E-Sign Consent Agreement” on the previous page. By clicking the check box, you acknowledge and confirm that (1) you can access and read this E-SIGN CONSENT AGREEMENT; (2) you can print on paper the disclosure or save or send the disclosure to a place where you can print it, for future reference and access; and (3) until or unless you notify Hydra Funding as described above, you consent to receive from and through electronic means all notices, disclosures, authorizations, acknowledgements, and other documents that are required to be provided or made available to you by Hydra Funding during the course of your relationship with Hydra Funding.</p>
                        <br>
                     </div>
                </div>
            </div>
        </div>


    </div>
    <footer class="footer">
        <div class="footer-holder">
            <div class="container">
                <div class="text">
                    <p>Loans subject to Lender Approval Depending on the state where your business is located and other attributes of the loan, your business loan may be issued by Lead Bank, a Missouri-Chartered Bank. Member FDIC. Your loan agreement will identify the loan issuer prior to your signing. Requires credit approval The lender transfers funds to your bank account as fast as the next business day if the lender has received the documents the lender asked for and approved the loan by 3:30 p.m. Central Time. Monday through Friday (excluding bank holidays).</p>
                </div>
            </div>
        </div>
        <div class="footer-holder">
            <div class="container">
                <div class="block-contact">
                    <div class="logo">
                        <a href="#">
                            <img src="../assets/loanbuilder/images/logo.svg" alt="">
                        </a>
                    </div>
                    <address>
                        <span>2310 W. 75th Street</span>
                        <span>Prairie Village, KS 66208</span>
                        <span><a href="tel:1-800-688-2418">1-800-688-2418</a></span>
                        <span><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;</a></span>
                    </address>
                </div>
                <ul class="footer-nav">
                    <li><a href="../app.html">Apply</a></li>
                    <!-- <li><a href="#">FAQ</a></li> -->
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="terms.html">Terms &amp; Conditions</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                </ul>
                <span class="copyright">&copy; Copyright Hydra Funding, all rights reserved.</span>
            </div>
        </div>
    </footer>

    <script src="../assets/loanbuilder/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/loanbuilder/js/bootstrap.min.js"></script>
    <script src="../assets/loanbuilder/js/bootstrap-custom.js"></script>
    <script src="../assets/loanbuilder/js/jquery.main.js"></script>


   

</body>
</html>
