<%- include partials/header.ejs %>
                <nav class="nav-menu">
                    <!--
                    <ul>
                        <li><a href="#section1">How It Works</a></li>
                        <li><a href="#section2">Pre-Approval</a></li>
                        <li><a href="#section3">FAQ</a></li>
                        <li><a href="#section4">Apply</a></li>
                    </ul>
                    -->
                </nav>
            </div>
        </header>
        <div class="header-pull promo-header">
            <div class="bg-stretch">
                <span data-srcset="/assets/loanbuilder/images/promo-img02.jpg, /assets/loanbuilder/images/promo-img02@2x.jpg 2x"></span>
            </div>
            <div class="promo-holder">
                <div class="container container-normal">
                    <h1>Privacy Policy</h1>
                </div>
            </div>
        </div>



                <div id="main">
            <div class="content">
                <div class="container container-normal">
                    <div class="entry">
                        <p>Trust is the foundation of any solid relationship.  At Hydra Funding, we understand you are entrusting us with your financial information.  We take that seriously and work hard to protect your privacy. The data you provide to us is stored in accordance with our Privacy Policy, and we use the highest level of encryption to ensure your information is safe and secure.</p>
                        <p>By visiting HydraFunding.com, you are accepting the practices described in our Privacy Policy.</p>
                        
                        <h3>Information We Collect</h3>
                        <p>We collect information required to verify your identity, to determine whether or not you qualify for one of our loan products and to process your account including deducting automatic payments.  We collect information that includes your bank statements, credit card statements, your average bank balance, personal and business credit history, tax ID number, social security number, bank account information and payment behavior.  We may conduct a site visit to collect this information.  We also obtain your credit score from three credit bureaus.  Once you are a Hydra customer, we may reach out to you for information again if you decide to renew your loan.</p>

                        <h3>Privacy and Sharing of Your Information</h3>
                        <p>By providing us with the required information as outlined above and in your application, you are granting Hydra and our trusted business partners and service providers access to this information.  We may share your basic information (Name, Company Name, Phone Number, Email, Requested Loan Amount) with one of our business partners if we are unable to provide you with a loan.</p>


                        <h3>Security of Your Information</h3>
                        <p>Hydra takes the security of your information very seriously.  In fact we protect your information using bank-level security; 128 bit-encryption and a Secure Sockets Layer (SSL) protocol.  This creates an encrypted connection between your browser and our servers.  All information remains encrypted at all times.  If you allow Hydra to see your banking information online rather than in paper form, it is on a read-only basis.  We do not have access to change, edit or modify bank account information in any way.  Hydra employees cannot view your banking username or passwords, and we securely store them in separate encrypted areas with our financial service providers</p>


                        <h3>Opt-Out Policy</h3>
                        <p>Hydra and our business partners may contact you to offer you products and services that may be of interest to you.  To opt-out of receiving emails, telephone solicitations or other forms of contact from Hydra, LLC and our trusted business partners regarding other products and services, please send an email: info@Hydrafunding.com with “Opt-Out” in the subject line.</p>
                        <p>*You must include your full name, business address, email addresses and account number.  Once we locate your information based on this information you have provided to us, it will be removed from our databases and mailing lists.</p>


                        <h3>Changes to Privacy Policy and Contacting Us Regarding the Privacy Policy</h3>
                        <p>We will post any changes to this privacy statement so users are always aware of what information we collect, how we use it, and under what circumstances, if any we disclose it.  If, however, we are going to use personal information in a manner different from that stated at the time of collection we will notify users by posting a note on our website.  Any questions or concerns should be addressed to info@Hydrafunding.com.</p>
                        <p>For customer service inquiries please call: 1-800-688-2418</p>


                        <br>
                     </div>
                </div>
            </div>
        </div>


    </div>
    <footer class="footer">
        <div class="footer-holder">
            <div class="container">
                <div class="text">
                    <p>Loans subject to Lender Approval Depending on the state where your business is located and other attributes of the loan, your business loan may be issued by Lead Bank, a Missouri-Chartered Bank. Member FDIC. Your loan agreement will identify the loan issuer prior to your signing. Requires credit approval The lender transfers funds to your bank account as fast as the next business day if the lender has received the documents the lender asked for and approved the loan by 3:30 p.m. Central Time. Monday through Friday (excluding bank holidays).</p>
                </div>
            </div>
        </div>
        <div class="footer-holder">
            <div class="container">
                <div class="block-contact">
                    <div class="logo">
                        <a href="#">
                            <img src="../assets/loanbuilder/images/logo.svg" alt="">
                        </a>
                    </div>
                    <address>
                        <span>2310 W. 75th Street</span>
                        <span>Prairie Village, KS 66208</span>
                        <span><a href="tel:1-800-688-2418">1-800-688-2418</a></span>
                        <span><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;</a></span>
                    </address>
                </div>
                <ul class="footer-nav">
                    <li><a href="../app.html">Apply</a></li>
                    <!-- <li><a href="#">FAQ</a></li> -->
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="terms.html">Terms &amp; Conditions</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                </ul>
                <span class="copyright">&copy; Copyright Hydra Funding, all rights reserved.</span>
            </div>
        </div>
    </footer>

    <script src="../assets/loanbuilder/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/loanbuilder/js/bootstrap.min.js"></script>
    <script src="../assets/loanbuilder/js/bootstrap-custom.js"></script>
    <script src="../assets/loanbuilder/js/jquery.main.js"></script>


   

</body>
</html>
