<%- include partials/header.ejs %>
                <nav class="nav-menu">
                    <!--
                    <ul>
                        <li><a href="#section1">How It Works</a></li>
                        <li><a href="#section2">Pre-Approval</a></li>
                        <li><a href="#section3">FAQ</a></li>
                        <li><a href="#section4">Apply</a></li>
                    </ul>
                    -->
                </nav>
            </div>
        </header>
        <div class="header-pull promo-header">
            <div class="bg-stretch">
                <span data-srcset="/assets/loanbuilder/images/promo-img02.jpg, /assets/loanbuilder/images/promo-img02@2x.jpg 2x"></span>
            </div>
            <div class="promo-holder">
                <div class="container container-normal">
                    <h1>Terms of Use</h1>
                </div>
            </div>
        </div>



                <div id="main">
            <div class="content">
                <div class="container container-normal">
                    <div class="entry">
                
                        <p>This is a legal agreement between you and Hydra, Inc., a Kansas corporation (“Hydra”). By accessing this website, and any sub-sites of this website (together the “Site”), and/or using any of the Services (as defined below) accessible through the Site, you become a user and agree to, and are bound by, the terms and conditions of this agreement and the Hydra Privacy Policy (collectively, “Terms”) for as long as you continue to use the Site or Services. IF YOU DO NOT AGREE TO BE BOUND BY THE TERMS, DO NOT USE THE SITE OR THE SERVICES. Your use of, or participation in, certain Services may be subject to additional terms, and such terms will be either listed in the Terms or will be presented to you for your acceptance when you sign up to use such Services or purchase such products.</p>
                        <p>Hydra matches qualified small business owners with active banks, credit unions, and other lending sources. Through a proprietary matching technology, Hydra helps business owners to identify the business loan category and specific lender(s) that offer the best opportunity for that business owner to prepare for and acquire a business loan. Once prepared, small business owners are then introduced to the most appropriate lending source via our proprietary technology.</p>


                        <h3>Changes to these Terms</h3>
                        <p>Please check these Terms periodically for changes because we reserve the right, in our sole discretion, to change, modify, add or remove portions of these Terms. Your continued use of the Site following the posting of changes will mean that you accept and agree to the changes.  Please see the beginning of the Terms to determine when the Terms were last revised.</p>

                        <h3>Content</h3>
                        <p>All text, graphics, user interfaces, visual interfaces, photographs, trademarks (whether registered or not), logos, sounds, artwork of any kind, and computer code (collectively, “Content”), including but not limited to the design, structure, coordination, selection, appearance, and arrangement of the Content, contained on the Site is owned by Hydra and is protected by trade dress, copyright, trademark, and other property laws and unfair competition laws.  Any misuse of the Content will be at your peril and Hydra will do all that is lawful to enforce and protect the Content.</p>

                        <h3>Use of Site and Service</h3>
                        <p>As a user of the Site or a user registered to use any of the Services (a “Registered User”), you agree to the following:</p>
                        <p>Exclusive Use. Your account is to be used only by you and only for your business needs. You may not authorize others to use your account, and you may not assign or otherwise transfer your account to any other person or entity. You acknowledge that Hydra is not responsible for third-party access to your account that results from theft or misappropriation of your user name and passwords.</p>
                        <p>Information Submitted. You are solely responsible for, and assume all liability regarding (i) the information and content you provide through your use of the Site and any Services, (ii) the information and content you make available in any manner through the service, and (iii) your interaction with any and all third-parties. Any attempt to enter information to create a duplicate account will be rejected and your account will be put on hold</p>
                        <p>Risk Assumption and Precautions. You assume all risk when using the Services, including but not limited to all of the risks associated with any interactions with third-parties, including but not limited to any lenders to which you are matched, referred or provided.</p>
                        <p>No Guarantees. Hydra may not be able to provide matches for every Registered User seeking to use its services. Further, Hydra makes no guarantees as to the number of matches or the ability to obtain business funding.</p>
                        <p>No False Information. You agree to provide accurate, true, current and complete information.</p>
                        <p>Legal Purpose. You agree to not use the Site or Services for any illegal purpose. You will only use the Site or Service in accordance with federal, state and local laws.</p>
                        <p>Business Purpose. You agree to only use the Site or Services for a bona fide business purpose. You agree not to use the Site or Services for personal, family or household purposes. You may not use the Site or Services to obtain information about or make decisions about anyone but yourself and/or your business.</p>

                        <h3>Proprietary Rights</h3>
                        <p>Ownership of Proprietary Information. You hereby acknowledge and agree that Hydra is the owner of all rights in and to the Site and Services. Federal, state, and local laws and regulations protect these proprietary rights. You are permitted to use the Site and Services only as expressly authorized by these Terms. You may not copy, reproduce, distribute or create derivative works, reverse engineer or reverse compile any of the Site or Services or technology.</p>
                        <p>No Use of Confidential Information. You will not post, copy, modify, transmit, disclose, show in public, create any derivative works from, distribute, make commercial use of, or reproduce in any way any (i) confidential information or (ii) other copyrighted material, trademarks, or other proprietary information accessible via the Site or Services, without first obtaining the prior written consent of the owner of such proprietary rights.</p>
                        <p>License to Provided Content. By providing information or content to any account or public area of the Site or Service, you automatically grant, and you represent and warrant that you have the right to grant, to Hydra and its users, an irrevocable, perpetual, non-exclusive, fully-paid, worldwide license to use, reproduce, publicly perform, publicly display and distribute such information and content, and to prepare derivative works of, or incorporate into other works, such information and content, and to grant and authorize sub-licenses of the foregoing. From time to time, we may create, test or implement new features or services on the Site in which you may voluntarily choose to participate, in accordance with the additional terms and conditions of such features or programs. By your voluntary participation in such features or programs, you grant us the rights stated in this subsection in connection with the additional terms and conditions (if any) of such features or services.</p>


                        <h3>User Information</h3>
                        <p>Privacy Policy. For information about the collection and possible use of information and material provided by you, please visit Hydra’s Privacy Policy located on the Site. By using the Site or the Services, you are consenting to the terms of Hydra’s Privacy Policy.</p>
                        <p>Disclosure by Law. You acknowledge and agree that Hydra may disclose information you provide if required to do so by law, at the request of a third-party, or if we, in our sole discretion, believe that disclosure is reasonable to (i) comply with the law, requests or orders from law enforcement, or any legal process (whether or nor such disclosure is required by applicable law); or (ii) protect or defend Hydra’s, or a third-party’s, rights or property.</p>
                        <p>Information Security. We work hard to protect Hydra and our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold. In particular:</p>
                        <p>We encrypt many of our services using SSL.</p>
                        <p>We review our information collection, storage and processing practices, including physical security measures, to guard against unauthorized access to systems.</p>
                        <p>We restrict access to personal information to Hydra employees, contractors and agents who need to know that information in order to process it for us, and who are subject to strict contractual confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations.</p>
                        <p>Use of Anonymous Information for Research. By using the Site and/or Services, you agree to allow Hydra to anonymously use the information from you and your experiences through the Services to continue Hydra’s research into successful business practices and to improve the Services.</p>
                        <p>License Regarding Your Content.  You retain all ownership interest in and to the content you provide to the Site or as part of your use of the Services.  However, by submitting your content, including your personal and business information, you hereby grant to Hydra a perpetual, non-exclusive, irrevocable, royalty-free license to: reproduce, adapt, edit, modify, translate, publish, transfer, and/or distribute any of your content.  This license specifically includes the right for Hydra to make such content available to other trusted companies, organizations, and/or individuals with whom Hydra has a business relationship in order to carry out the performance of the Services.  As part of its performance of the Services, Hydra may (i) transmit or distribute your information over various public networks and in various forms; and (ii) make necessary changes to your content in order to perform its obligations.</p>


                        <h3>Services</h3>
                        <p>Hydra offers a free subscription service to assist you with your business needs.  As explained above, Hydra matches you with various potential lenders and loan products to meet your business needs.  As part of the Services, we request and you provide various items of information to be used in order to provide the best match for your business needs from among our partners.</p>

                        <h3>Disclaimer of Warranty</h3>
                        <p>No Warranties. THIS SECTION WILL APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW. Hydra PROVIDES THE SERVICES ON AN “AS IS” AND “AS AVAILABLE” BASIS AND GRANTS NO WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE WITH RESPECT TO THE SERVICES OR THE SITE (INCLUDING ALL INFORMATION CONTAINED THEREIN), INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. Hydra DOES NOT WARRANT THAT YOUR USE OF THE SERVICES WILL BE SECURE, UNINTERRUPTED, ALWAYS AVAILABLE, ERROR-FREE OR WILL MEET YOUR REQUIREMENTS, OR THAT ANY DEFECTS IN THE SERVICES WILL BE CORRECTED. Hydra DISCLAIMS LIABILITY FOR, AND NO WARRANTY IS MADE WITH RESPECT TO, THE CONNECTIVITY AND AVAILABILITY OF THE SERVICES.</p>
                        <p>Third-Party Content. Opinions, advice, statements, offers, or other information or content made available through the Site or Services, but not directly by Hydra, are those of their respective authors, and should not necessarily be relied upon. Such authors are solely responsible for such content. Hydra DOES NOT: (i) GUARANTEE THE ACCURACY, COMPLETENESS OR USEFULNESS OF ANY INFORMATION PROVIDED ON THE SERVICES, OR (ii) ADOPT, ENDORSE OR ACCEPT RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE, OR STATEMENT MADE BY ANY PARTY OTHER THAN Hydra. UNDER NO CIRCUMSTANCES WILL Hydra BE RESPONSIBLE FOR ANY LOSS OR DAMAGE RESULTING FROM ANYONE’S RELIANCE ON INFORMATION OR OTHER CONTENT POSTED ON THE SITE OR SERVICES, OR TRANSMITTED TO OR BY ANY USERS</p>
                        <p>Beta Features. From time to time, Hydra may offer new “beta” features or tools with which its users may experiment on the Site or Services. Such features or tools are offered solely for experimental purposes and without any warranty of any kind, and may be modified or discontinued at Hydra’s sole discretion. The provisions of this Disclaimer of Warranty section apply with full force to such features or tools.</p>

                        <h3> Limitation of Liability</h3>
                        <p>Incidental Damages and Aggregate Liability. IN NO EVENT WILL Hydra BE LIABLE FOR ANY INCIDENTAL, SPECIAL, CONSEQUENTIAL OR INDIRECT DAMAGES ARISING OUT OF OR RELATING TO THE USE OR INABILITY TO USE THE SERVICES, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OR CORRUPTION OF DATA OR PROGRAMS, SERVICE INTERRUPTIONS AND PROCUREMENT OF SUBSTITUTE SERVICES, EVEN IF Hydra KNOWS OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. UNDER NO CIRCUMSTANCES WILL Hydra’S AGGREGATE LIABILITY, IN ANY FORM OF ACTION WHATSOEVER IN CONNECTION WITH THIS TERMS OR THE USE OF THE SERVICES OR SITE, EXCEED THE PRICE PAID BY YOU FOR YOUR ACCOUNT OR SUBSCRIPTION, OR, IF YOU HAVE NOT PAID Hydra FOR THE USE OF ANY SERVICES, THE AMOUNT OF US$25.00 OR ITS EQUIVALENT.</p>
                        <p>No Liability for non-Hydra Actions. TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT WILL Hydra BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SERVICES.</p>
                        <p>Information Verification. Hydra and its contractors may use various methods of verifying information that users have provided. However, none of those ways are perfect, and you agree that Hydra and its contractors will have no liability to you arising from any incorrectly verified information.</p>


                        <h3>Indemnification</h3>
                        <p>You agree to indemnify, defend and hold harmless Hydra, its officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorneys’ fees) relating to or arising out of (i) your use of or inability to use the Site or Services, (ii) any user postings made by you, (iii) your violation of any terms of these Terms or your violation of any rights of a third-party, or (iv) your violation of any applicable laws, rules or regulations. Hydra reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with Hydra in asserting any available defenses.</p>


                        <h3>Communication and Privacy</h3>
                        <p>We may use your email address to send you messages notifying you of important changes to the Services or special offers. Further, we may contact you by telephone if you voluntarily provide us with your telephone number, in order to communicate with you regarding the Services. If you do not want to receive such email messages or telephone calls, please refer to our Privacy Policy to review your options.</p>


                        <h3>Term and Termination</h3>
                        <p>This agreement will become effective upon your acceptance of the Terms by your use of the Site or Services and will remain in effect in perpetuity unless terminated hereunder. Either you or Hydra may terminate your account at any time, for any reason or no reason, without explanation, effective upon written notice to the other party. Hydra reserves the right to immediately suspend or terminate your access to any of the Services, without notice, for any reason or no reason. We also reserve the right to remove your account information or data from our Services and any other records at any time at our sole discretion. In the event your access to any of the Services is suspended due to the breach of this Terms, you agree that all fees then paid to Hydra by you will be nonrefundable and all outstanding or pending payments will immediately be due. You may terminate your account by following the steps in the applicable section under “Cancellations” below.</p>


                        <h3>Cancellations</h3>
                        <p>Cancellation At Any Time. The cancellation procedures in this section do not apply to any lender that has entered into a Lead Purchase Agreement with Hydra.  The terms of cancellation for lenders will be contained in the Lead Purchase Agreement.</p>
                        <p>The following only applies to potential borrowers.  Except as otherwise stated in this section, you may cancel your registration or subscription to any Service at any time during the term of such registration or subscription or any renewal period by accessing the “Account Settings” page on your membership home page, clicking on ”Subscriptions” and clicking on “Cancel This Subscription,” and providing the information requested.</p>


                        <h3>Specific Terms Controlling Other Services and Products</h3>
                        <p>Hydra provides other services and products besides the Services.  Additional terms for such other services and/or products will be presented to you prior to your acceptance of such terms and prior to your use of the services and/or products.</p>

                        <h3>General Provisions</h3>
                        <p>Controlling Law and Jurisdiction. You agree that Kansas law (without giving effect to its conflicts of law principles) will govern these Terms, the Site and the Services and that any dispute arising out of or relating to these Terms, the Site or the Services will be subject to the exclusive jurisdiction and venue of the federal and state courts in Johnson County, Kansas. You acknowledge and agree that any violation of these Terms may cause Hydra irreparable harm, and therefore agree that Hydra will be entitled to seek extraordinary relief in court, including but not limited to temporary restraining orders, preliminary injunctions and permanent injunctions without the necessity of posting a bond or other security, in addition to and without prejudice to any other rights or remedies that Hydra may have for a breach of these Terms.</p>
                        <p>Miscellaneous. These Terms, which you accept upon registration for the Services, the Privacy Policy located on the Site, and any applicable payment, renewal, additional services terms, comprise the entire agreement between you and Hydra regarding the use of this Service, superseding any prior agreements between you and Hydra related to your use of this Site or Services (including, but not limited to, any prior versions of this Terms). The FAQ’s found on the Services are for informational purposes only and are not deemed to be part of this Terms. Unless otherwise explicitly stated, the Terms will survive termination of your registration to the Service. The failure of Hydra to exercise or enforce any right or provision of these Terms does not constitute a waiver of such right or provision. If any provision of these Terms is held invalid, the remainder of the Terms will continue in full force and effect. Regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to the use of the Site or the Terms must be filed within one (1) year after such claim or cause of action arose or be forever barred. The section titles in the Terms are for convenience only and have no legal or contractual effect.</p>
                        <p>Securities Statements. WE MAKE NO REPRESENTATIONS, WARRANTIES OR OTHER GUARANTEES OF ANY KIND AS TO THE ACCURACY, COMPLETENESS OR TIMELINESS OF ANY PRICE QUOTES, NOR DO WE MAKE ANY REPRESENTATIONS, WARRANTIES OR OTHER GUARANTEES OF ANY KIND AS TO THE PRESENT OR FUTURE VALUE OR SUITABILITY OF ANY SALE, TRADE OR OTHER TRANSACTION INVOLVING ANY PARTICULAR SECURITY OR ANY OTHER INVESTMENT OF ANY KIND. You understand that we are not a broker or dealer in securities, and not an investment or financial advisor. You are solely responsible for your investment research. Prior to undertaking any securities transaction, you should consult a broker or other financial advisor with respect to the price, suitability, value or other aspects of any stock, mutual fund, security or other investment.</p>

                        <br>
                     </div>
                </div>
            </div>
        </div>


    </div>
    <footer class="footer">
        <div class="footer-holder">
            <div class="container">
                <div class="text">
                    <p>Loans subject to Lender Approval Depending on the state where your business is located and other attributes of the loan, your business loan may be issued by Lead Bank, a Missouri-Chartered Bank. Member FDIC. Your loan agreement will identify the loan issuer prior to your signing. Requires credit approval The lender transfers funds to your bank account as fast as the next business day if the lender has received the documents the lender asked for and approved the loan by 3:30 p.m. Central Time. Monday through Friday (excluding bank holidays).</p>
                </div>
            </div>
        </div>
        <div class="footer-holder">
            <div class="container">
                <div class="block-contact">
                    <div class="logo">
                        <a href="#">
                            <img src="../assets/loanbuilder/images/logo.svg" alt="">
                        </a>
                    </div>
                    <address>
                        <span>2310 W. 75th Street</span>
                        <span>Prairie Village, KS 66208</span>
                        <span><a href="tel:1-800-688-2418">1-800-688-2418</a></span>
                        <span><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#104;&#121;&#112;&#104;&#101;&#110;&#102;&#117;&#110;&#100;&#105;&#110;&#103;&#046;&#099;&#111;&#109;</a></span>
                    </address>
                </div>
                <ul class="footer-nav">
                    <li><a href="../app.html">Apply</a></li>
                    <!-- <li><a href="#">FAQ</a></li> -->
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="terms.html">Terms &amp; Conditions</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                </ul>
                <span class="copyright">&copy; Copyright Hydra Funding, all rights reserved.</span>
            </div>
        </div>
    </footer>

    <script src="../assets/loanbuilder/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/loanbuilder/js/bootstrap.min.js"></script>
    <script src="../assets/loanbuilder/js/bootstrap-custom.js"></script>
    <script src="../assets/loanbuilder/js/jquery.main.js"></script>


   

</body>
</html>
